
  .globe {
    position: absolute;
    top: 25px;
    left: 30%;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 200px;
    /* transform: rotate(23.4deg); */
  }
  .globe:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 50px 0 100px 0 #000,
                inset 0 0 400px 0 #000;
  }
  .beacon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    /* Override anchor defaults */
    color: #fff;
    text-decoration: none;
    transition-duration: 1s;
  }
  .beacon:before {
    content: "";
    position: absolute;
    z-index: 3;
    top: -8px;
    left: -8px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 4px 0 #fff;
    animation: signal 2s infinite ease-out;
  }
  /* Make the location easy to click by expanding the clickable area from 4px to 20px and space for the text on :hover. */
  .beacon:after {
    content: "";
    position: absolute;
    z-index: 4;
    top: -8px;
    left: -8px;
    width: 20px;
    height: 20px;
    text-indent: 25px;
    line-height: 20px;
  }
  .beacon:hover:after,
  .beacon:focus:after {
    content: attr(data-location);
  }
  
  @keyframes signal {
    0% { transform: scale(0); opacity: 0; }
    50% { opacity: 1; }
    100% { transform: scale(1); opacity: 0; }
  }
  
  [data-location=Hawaii] { top: 205px; left: 480px; }
  [data-location=Tonga] { top: 310px; left: 460px; }
  [data-location=Madagascar] { top: 290px; left: 160px; }
  [data-location=Cyprus] { top: 174px; left: 122px; }
  [data-location=Dominican-Republic] { top: 205px; left: 650px; }
  
  .surface {
    position: relative;
    width: 800px;
    height: 400px;
    margin-left: -400px;
    line-height: 0;
    background-image: url(images/earth1.jpg);
    animation: axis 60s infinite linear;
    z-index: -1;
  }
  
  @keyframes axis {
      0% { margin-left: -400px; }
      50% { margin-left: 0px; }
    100% { margin-left: -400px; }
  }
  
  html { background: #000; }
  *,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
  