*{
box-sizing: border-box;
}
::selection {
  color: yellow;
  background: purple;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.chat-btn {
    position: absolute;
    position: fixed;
    right: 1%;
    bottom: 90px;
    cursor: pointer;
    z-index: 10000000;
  }
  .chat-btn .close {
    display: none;
  }
  .chat-btn i {
    transition: all 0.9s ease
  }
  #check:checked~.chat-btn i {
    display: block;
    pointer-events: auto;
    
  }
  #check:checked~.chat-btn .comment {
    display: none
  }
  .chat-btn i {
    font-size: 22px;
    color: #fff !important
  }
  .chat-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: rgb(14, 14, 22);
    color: #fff;
    font-size: 22px;
    border: none
  }
  .wrapper {
    position: absolute;
    position: fixed;
    right: 20px;
    bottom: 20%;
    width: 18rem;
    height: 22rem;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.4s;
    z-index: 10;
  }
  .formm
  {
    width:16rem;
    height: 3rem;
    padding: 0px !important;
    z-index: 10;
  }
  textarea{
    min-height: 4rem!important;

  }
  textarea .formm{
    width:16rem;
    height: 1rem;
    padding: 0px !important;
   

  }
  @media only screen and (max-width:900px)
  {
    .wrapper
    {
      width: 12rem;
      height: 16rem; 
    } 
    .formm
    {
      width:10rem;
      height: 2rem;
      padding: 0px !important;
    }
    textarea{
      min-height: 2.5rem!important;
  
    }
    textarea .formm{
      width:16rem;
      
      padding: 0px !important;
     
  
    }
  }
  
  
  #check:checked~.wrapper {
    opacity: 1
  }
  .headerr {
    padding: 13px;
    background-color: blue;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
    color: #fff
  }
  .chat-form {
    padding: 15px
  }
  .chat-form input,
  textarea,
  button {
    margin-bottom: 10px
  }
  .chat-form textarea {
    resize: none
  }
  .form-control:focus,
  .btn:focus {
    box-shadow: none
  }
  .btn,
  .btn:focus,
  .btn:hover {
    background-color: blue;
    border: blue;
  }
  #check {
    display: none !important
  }
  .nav-link:hover
  {
    border-bottom: 1.5px solid rgb(255, 215, 215);

  }
  .mar-left
  {
    margin-left: 30vw;
  }
  
  @media only screen and (max-width:1300px) and (min-width:991.98px)
  {
    .mar-left{
      margin-left: 15vw;
    }
    
  }
  @media only screen and  (max-width:991.98px)
  {
    .mar-left{
      margin-left: 0vw;
    }
    
  }
  .navbar-collapse 
{ background:transparent !important;
 } 
 
 @media only screen and (max-width:992px)
 {
  .navbar-collapse
  {
    background:#8458B3 !important;
  }
 }
 .btn-hover {
  width: 10rem;
  height: 1rem;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 2px;
  height: 50px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}
.btn-block
{
  margin-top: 0.5rem;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.carousel-control-prev-icon {
  background-image: url("images/backward-icon.png") !important;
  background-size: 2rem!important;
 }
 
 .carousel-control-next-icon {
   background-image: url("images/forward-icon.png") !important;
   background-size: 2rem!important;
 }

 #myBtn {
  display: none;
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 99;
  font-size: 12px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 12px;
  border-radius: 4px;
  transition: 0.4s ease-in-out;
}

#myBtn:hover {
  background-color: #555;
}
#myBtn i{
  height: 1.1rem;

}
.navbar{
  z-index: 100000000;
}

.btn-style-three
{
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    padding: 12px 50px;
    font-weight: 600;
    overflow: hidden;
    border-radius: 3px;
    overflow: hidden;
    text-transform: capitalize;
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    font-family: 'Montserrat', sans-serif;
}
.theme-btn
{
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.btn-style-three:before {
    position: absolute;
    content: '';
    left: 92%;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 1;
    background-color: #4296b4;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    transform: skewX(-25deg);
}
.btn-style-three:hover.btn-style-three:before
{
    position: absolute;
    content: '';
    left:0%;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    background-color: #0060ff;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    transform: skewX(0deg);
}
.btn-style-three .txt {
    position: relative;
    z-index: 1;
}

/* nav link color*/
.nav-link {
  color: white!important;
  font-size: 1.3rem !important;
  font-weight: 500 !important;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

/* by default color of the navbar*/
.colorr{
 
    position:fixed;
    top:0;
    background:transparent;
    width:100%;
    height:50px;
   
}

/*Common cards css*/
.snip{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*customer review cards css*/
.upper-class{
  height: 400px;
  width: 320px;
  position: relative;
  transform-style: preserve-3d;
 perspective: 1000px;
}
.upper-class .card{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  transform: translateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
}
.upper-class:hover  .front-face{
  transform: rotateY(-180deg);
}
.upper-class .card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.upper-class .back-face{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.upper-class:hover .back-face{
  transform: rotateY(0deg);
}
.upper-class .back-face img{
  height: 150px;
  width: 150px;
  padding: 5px;
  border-radius: 50%;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
}
.upper-class .back-face .info{
  text-align: center;
}
.back-face .info .title{
  font-size: 30px;
  font-weight: 500;
}
.back-face ul{
  display: flex;
}
.back-face ul a{
  display: block;
  height: 40px;
  width: 40px;
  color: #fff;
  text-align: center;
  margin: 0 5px;
  line-height: 38px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
  transition: all 0.5s ease;
}
.back-face ul a:hover{
  color: #1cc7d0;
  border-color: #1cc7d0;
  background: linear-gradient(375deg, transparent, transparent);
}

.title p{
  font-size: 15px;
}